<H1 style="color:#64ff33; font-size:34px;background:#222 ; border-radius:15px ; text-align:center ;padding:20px"> Group By </H1>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/geek/Desktop/DE/data/Flavors.csv')

In [10]:
df.filter(items=['Flavor','Base Flavor','Flavor Rating']).head(5)

                Flavor Base Flavor  Flavor Rating
0  Mint Chocolate Chip     Vanilla           10.0
1            Chocolate   Chocolate            8.8
2              Vanilla     Vanilla            4.7
3         Cookie Dough     Vanilla            6.9
4           Rocky Road   Chocolate            8.2

In [15]:
grouped_df=df.groupby('Base Flavor')

In [22]:
grouped_df.get_group('Chocolate').filter(items=['Flavor','Base Flavor','Flavor Rating']).head(2)

       Flavor Base Flavor  Flavor Rating
1   Chocolate   Chocolate            8.8
4  Rocky Road   Chocolate            8.2

In [24]:
grouped_df.get_group('Vanilla').filter(items=['Flavor','Base Flavor','Flavor Rating']).head(3)

                Flavor Base Flavor  Flavor Rating
0  Mint Chocolate Chip     Vanilla           10.0
2              Vanilla     Vanilla            4.7
3         Cookie Dough     Vanilla            6.9

In [16]:
for base_flavor , base_flavor_df in grouped_df:
    print (base_flavor)
    print (base_flavor_df)

Chocolate
                   Flavor Base Flavor Liked  Flavor Rating  Texture Rating  \
1               Chocolate   Chocolate   Yes            8.8             7.6
4              Rocky Road   Chocolate   Yes            8.2             7.0
8  Chocolte Fudge Brownie   Chocolate   Yes            8.2             7.1

   Total Rating
1          16.6
4          15.2
8          15.3
Vanilla
                Flavor Base Flavor Liked  Flavor Rating  Texture Rating  \
0  Mint Chocolate Chip     Vanilla   Yes           10.0             8.0
2              Vanilla     Vanilla    No            4.7             5.0
3         Cookie Dough     Vanilla   Yes            6.9             6.5
5            Pistachio     Vanilla    No            2.3             3.4
6          Cake Batter     Vanilla   Yes            6.5             6.0
7           Neapolitan     Vanilla    No            3.8             5.0

   Total Rating
0          18.0
2           9.7
3          13.4
5           5.7
6          12.5
7           8.8