<H1 style="color:#64ff33; font-size:34px;background:#222 ; border-radius:15px ; text-align:center ;padding:20px"> DataFrame</H1>

In [1]:
import pandas as pd

In [13]:
people = {
    "first": ["Corey","Jane", "John", "Emily", "Michael", "Sarah", "David", "Emma", "Chris", "Olivia"],
    "last": ["Schafer", "Doe", "Doe", "Smith", "Brown", "Johnson", "Miller", "Wilson", "Moore", "Taylor"],
    "email": [
        "CoreyMSchafer@gmail.com",
        "JaneDoe@email.com",
        "JohnDoe@email.com",
        "EmilySmith@email.com",
        "MichaelBrown@email.com",
        "SarahJohnson@email.com",
        "DavidMiller@email.com",
        "EmmaWilson@email.com",
        "ChrisMoore@email.com",
        "OliviaTaylor@email.com"
    ]
}

In [14]:
df=pd.DataFrame(people)

In [15]:
df

     first     last                    email
0    Corey  Schafer  CoreyMSchafer@gmail.com
1     Jane      Doe        JaneDoe@email.com
2     John      Doe        JohnDoe@email.com
3    Emily    Smith     EmilySmith@email.com
4  Michael    Brown   MichaelBrown@email.com
5    Sarah  Johnson   SarahJohnson@email.com
6    David   Miller    DavidMiller@email.com
7     Emma   Wilson     EmmaWilson@email.com
8    Chris    Moore     ChrisMoore@email.com
9   Olivia   Taylor   OliviaTaylor@email.com

In [18]:
df[['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe
3     EmilySmith@email.com    Smith
4   MichaelBrown@email.com    Brown
5   SarahJohnson@email.com  Johnson
6    DavidMiller@email.com   Miller
7     EmmaWilson@email.com   Wilson
8     ChrisMoore@email.com    Moore
9   OliviaTaylor@email.com   Taylor

In [19]:
df.email #this no recommended way

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
3       EmilySmith@email.com
4     MichaelBrown@email.com
5     SarahJohnson@email.com
6      DavidMiller@email.com
7       EmmaWilson@email.com
8       ChrisMoore@email.com
9     OliviaTaylor@email.com
Name: email, dtype: object

In [20]:
df[['email']]

                     email
0  CoreyMSchafer@gmail.com
1        JaneDoe@email.com
2        JohnDoe@email.com
3     EmilySmith@email.com
4   MichaelBrown@email.com
5   SarahJohnson@email.com
6    DavidMiller@email.com
7     EmmaWilson@email.com
8     ChrisMoore@email.com
9   OliviaTaylor@email.com

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [33]:
df.loc[0:9:2  ].filter(items=['email'])

                     email
0  CoreyMSchafer@gmail.com
2        JohnDoe@email.com
4   MichaelBrown@email.com
6    DavidMiller@email.com
8     ChrisMoore@email.com

In [62]:
df2=df.loc[0:9:2 ] [['email', 'last']]
df2

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
2        JohnDoe@email.com      Doe
4   MichaelBrown@email.com    Brown
6    DavidMiller@email.com   Miller
8     ChrisMoore@email.com    Moore

In [39]:
df2.shape

(5, 2)

In [40]:
df.shape

(10, 3)

In [56]:
voices={
    'yes/no':['yes','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','no','no','no','no','no'] ,
    'may/notsure/emm':['may','notsure','may','emm','may','notsure','may','notsure','may','notsure','may','notsure','may','notsure','may','notsure','notsure','notsure','notsure','notsure']
}

In [57]:
df_voices=pd.DataFrame(voices)
df_voices

   yes/no may/notsure/emm
0     yes             may
1      no         notsure
2     yes             may
3      no             emm
4     yes             may
5      no         notsure
6     yes             may
7      no         notsure
8     yes             may
9      no         notsure
10    yes             may
11     no         notsure
12    yes             may
13     no         notsure
14    yes             may
15     no         notsure
16     no         notsure
17     no         notsure
18     no         notsure
19     no         notsure

In [58]:
df_voices.value_counts()

yes/no  may/notsure/emm
no      notsure            11
yes     may                 8
no      emm                 1
Name: count, dtype: int64

In [59]:
df_voices['may/notsure/emm'].value_counts()

may/notsure/emm
notsure    11
may         8
emm         1
Name: count, dtype: int64

In [67]:
df_voices.loc[0:11 , 'yes/no':'may/notsure/emm']

   yes/no may/notsure/emm
0     yes             may
1      no         notsure
2     yes             may
3      no             emm
4     yes             may
5      no         notsure
6     yes             may
7      no         notsure
8     yes             may
9      no         notsure
10    yes             may
11     no         notsure