<H1 style="color:#64ff33; font-size:34px;background:#222 ; border-radius:15px ; text-align:center ;padding:20px"> Grouping in depth</H1>

In [132]:
import pandas as pd

In [133]:
df=pd.read_csv('/home/geek/Desktop/DE/data/AirQualityUCI.csv',sep=";")
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df.columns

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [135]:
df = pd.read_csv(
    "/home/geek/Desktop/DE/data/AirQualityUCI.csv",
    sep=";",
    parse_dates=[["Date", "Time"]],
    na_values=[-200],
    usecols=["Date", "Time", "CO(GT)", "T", "RH", "AH"]
).rename(
    columns={
        "CO(GT)": "co",
        "Date_Time": "Timestamp",
        "T": "temp_c",
        "RH": "rel_hum",
        "AH": "abs_hum",
    }
).set_index("Timestamp")

/tmp/ipykernel_8527/1698295334.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv(
/tmp/ipykernel_8527/1698295334.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

In [136]:
df

                      co temp_c rel_hum abs_hum
Timestamp
10/03/2004 18.00.00  2,6   13,6    48,9  0,7578
10/03/2004 19.00.00    2   13,3    47,7  0,7255
10/03/2004 20.00.00  2,2   11,9    54,0  0,7502
10/03/2004 21.00.00  2,2   11,0    60,0  0,7867
10/03/2004 22.00.00  1,6   11,2    59,6  0,7888
...                  ...    ...     ...     ...
nan nan              NaN    NaN     NaN     NaN
nan nan              NaN    NaN     NaN     NaN
nan nan              NaN    NaN     NaN     NaN
nan nan              NaN    NaN     NaN     NaN
nan nan              NaN    NaN     NaN     NaN

[9471 rows x 4 columns]

In [137]:
df.index.min()

'01/01/2005 00.00.00'

In [138]:
df.index.max()

'nan nan'

In [139]:
type(df.index)

pandas.core.indexes.base.Index

In [140]:
# Ensure the index is a DatetimeIndex
df.index = pd.to_datetime(df.index,format="%d/%m/%Y %H.%M.%S",errors="coerce")

# Group by the day of the index
df_grouped_by_days = df.groupby(df.index.day_name())
df["co"]=pd.to_numeric(df["co"], errors="coerce")
# Calculate the mean of the "co" column for each day
mean_co_by_day = df_grouped_by_days["co"].mean()

mean_co_by_day

Timestamp
Friday       2.515789
Monday       2.526316
Saturday     1.827160
Sunday       1.367816
Thursday     2.324675
Tuesday      2.691176
Wednesday    2.622951
Name: co, dtype: float64

In [145]:
hr = df.index.hour
df_grouped_by_days_hours = df.groupby([df.index.day_name(),hr])["co"].mean()
df_grouped_by_days_hours[:10]

Timestamp  Timestamp
Friday     0.0          1.60
           1.0          1.40
           2.0          1.00
           3.0          1.40
           4.0          1.00
           5.0           NaN
           6.0          1.25
           7.0          3.50
           8.0          2.50
           9.0          4.00
Name: co, dtype: float64

In [142]:
# Ù‚Ø§Ø¦Ù…Ø© ØªØ­ØªÙˆÙŠ Ø¹Ù„Ù‰ ØªÙˆØ§Ø±ÙŠØ® ØµØ§Ù„Ø­Ø© ÙˆØºÙŠØ± ØµØ§Ù„Ø­Ø©
dates = ["2023-01-01", "2023-02-30", "Invalid Date", "2023-03-15"]

# ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ù†ØµÙˆØµ Ø¥Ù„Ù‰ ØªÙˆØ§Ø±ÙŠØ® Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… errors="coerce"
converted_dates = pd.to_datetime(dates, errors="coerce")

print(converted_dates)

DatetimeIndex(['2023-01-01', 'NaT', 'NaT', '2023-03-15'], dtype='datetime64[ns]', freq=None)

In [143]:
converted_dates.day_name()

Index(['Sunday', nan, nan, 'Wednesday'], dtype='object')