<H1 style="color:#64ff33; font-size:34px;background:#222 ; border-radius:15px ; text-align:center ;padding:20px"> Group By </H1>

In [54]:
import pandas as pd

In [55]:
df=pd.read_csv('/home/geek/Desktop/DE/data/Flavors.csv')

In [56]:
df.filter(items=['Base Flavor','Flavor Rating']).head(5) #'Flavor',

  Base Flavor  Flavor Rating
0     Vanilla           10.0
1   Chocolate            8.8
2     Vanilla            4.7
3     Vanilla            6.9
4   Chocolate            8.2

In [57]:
grouped_df=df.filter(items=['Base Flavor','Flavor Rating']).groupby('Base Flavor')

In [58]:
grouped_df.get_group('Chocolate').head(2)

  Base Flavor  Flavor Rating
1   Chocolate            8.8
4   Chocolate            8.2

In [59]:
grouped_df.get_group('Vanilla').head(3)

  Base Flavor  Flavor Rating
0     Vanilla           10.0
2     Vanilla            4.7
3     Vanilla            6.9

In [60]:
grouped_df.mean() #numeric_only=True

             Flavor Rating
Base Flavor
Chocolate              8.4
Vanilla                5.7

In [65]:
grouped_df.sum() #numeric_only=True

             Flavor Rating
Base Flavor
Chocolate             25.2
Vanilla               34.2

In [66]:
grouped_df.describe() #numeric_only=True

            Flavor Rating
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

In [61]:
for base_flavor , base_flavor_df in grouped_df:
    print (base_flavor)
    print (base_flavor_df)

Chocolate
  Base Flavor  Flavor Rating
1   Chocolate            8.8
4   Chocolate            8.2
8   Chocolate            8.2
Vanilla
  Base Flavor  Flavor Rating
0     Vanilla           10.0
2     Vanilla            4.7
3     Vanilla            6.9
5     Vanilla            2.3
6     Vanilla            6.5
7     Vanilla            3.8